__pycache__/TextureLoader.cpython-39.pyc
__pycache__/TextureLoader.cpython-38.pyc
__pycache__/ObjLoader.cpython-39.pyc
__pycache__/myClass.cpython-39.pyc
__pycache__/myClass.cpython-38.pyc
__pycache__/camera.cpython-39.pyc
